*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body, .center, .timer div, div form{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    min-height: auto;
    flex-direction: column;
    justify-content: space-around;
    background: #bd2b11;
}
.container{
    width: 100%;
    height: 75vh;
    background: linear-gradient(0deg, rgb(216, 8, 1,.2)  5%, pink);
    color: rgb(187, 93, 25);
}

.circle-container{
    width: 380px;
    height: 380px;
    position: absolute;
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

.semicircle{
    width: 50%;
    height: 100%;
    position: absolute;
    transform-origin: right center;
    top: 0;
    left: 0;
    transition : background-color 1.7s ease-out;
}
.semicircle:nth-child(1){
    background-color: #088b8b;
    z-index: 2;
}
.semicircle:nth-child(2){
    background-color: #088b8b;

    z-index: 3;
}
.semicircle:nth-child(3){
    background-color: #ddd;
    z-index: 4;
}
.outermost-semicirle{
    width: 370px;
    height: 370px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
}
.timer-container{
    width: 300px;
    height: 180px;
    z-index: 6;
}
.timer {
    width: 400px;
    height: 100px;
    z-index: 7;
}
.timer div{
    font-size: 65px;
    font-weight: 100;
    height: 80px;width: 100%;
    margin: 0 10px 0 10px;
}
 .timer .colon{
    background-color: transparent;
    width: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 12px;
}
header{
    height: 70px;
    margin-top: 25px;
}
p{
    color: rgb(229, 241, 57);
    margin-top: 5px;
}
header .time form div input{
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-right: 5px;
    padding: 10px;
} 

div form input{
    outline: none;
    border: none;
    text-align: right;
}
div form input:focus{
    outline: 1px solid rgb(128, 255, 89);
}
div form .hours{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.warning{
    position: fixed;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
    background: rgb(248, 68, 68);

}
div .btn {
    width: 100px;
    height: 35px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    transition: all .7s ease;
    color: rgb(18, 4, 95);
    margin-top: 20px;
}
.btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: black;
}
.btn:active{opacity: .5;}
@media screen and (max-width: 375px){
    .container{
        width: 100%;
        height: 70vh;
    }
    .circle-container{
        width: 250px;
        height: 250px;
    }
    .outermost-semicirle{
        width: 241px;
        height: 241px;
    }
    .timer div{
        font-size: 38px;
        font-weight: 500;
    }
    .timer-container{
        width: 180px;
        height: 180px;
    }

}
 /* .container:hover .semicircle:nth-child(1) {
    transform: rotate(180deg);
    transition: 1s linear;
}
.container:hover .semicircle:nth-child(2) {
    transform: rotate(360deg);
    transition: 2s linear;
}
.container:hover .semicircle:nth-child(3) {
    opacity: 0;
    transition: opacity 0s 1s;
} */